<div class="h-full rounded-xl border border-gray-200 bg-white p-6 shadow-sm cursor-pointer" (click)="navigateToActivity()">
  <div class="h-32 w-full rounded-xl bg-gradient-to-br from-blue-100 to-blue-300"></div>
  <div class="flex py-3">
    <h2 class="text-lg font-semibold text-gray-900">
      {{ activity().name }}
    </h2>
  </div>
  <div class="flex pb-3">
    <span class="text-sm text-gray-600">
      {{ activity().description }}
    </span>
  </div>
  <div class="flex items-center justify-between">
    <span class="font-medium text-blue-600">
      {{ '$' + activity().price.toFixed(2) }}
    </span>
    <span class="text-sm text-gray-500">
      ★ {{ activity().rating }}
    </span>
  </div>
</div>